In [20]:
import pandas as pd
import os
from glob import iglob
import glob
import dask.dataframe as dd

In [32]:
path = r'C:Elsa\Desktop\Bootcamp\Homework\20-Tableau\Resources'
all_files = glob.glob(path + "\*.csv")
for file in all_files: 
    df = pd.read_csv(file)
    list(df)

In [26]:
dfs

In [39]:
df = dd.read_csv('*.csv')

In [40]:
len(df)

719519

In [46]:
type(df)

dask.dataframe.core.DataFrame

In [47]:
df_pandas = df.compute()

In [48]:
df_pandas.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,347,2017-05-01 00:03:19,2017-05-01 00:09:06,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26177,Subscriber,1958.0,1
1,108,2017-05-01 00:16:04,2017-05-01 00:17:53,3275,Columbus Drive,40.718355,-74.038914,3187,Warren St,40.721124,-74.038051,26266,Subscriber,1963.0,1
2,165,2017-05-01 00:29:59,2017-05-01 00:32:44,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,26168,Subscriber,1988.0,1
3,289,2017-05-01 00:30:47,2017-05-01 00:35:36,3209,Brunswick St,40.724176,-74.050656,3205,JC Medical Center,40.716540,-74.049638,26273,Subscriber,1986.0,2
4,115,2017-05-01 00:41:14,2017-05-01 00:43:09,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26293,Subscriber,1983.0,1

In [49]:
len(df_pandas)

719519

In [51]:
df_pandas.to_csv('master.csv')